[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
advbumpversion = "*"
black = "*"
coverage = "*"
pytest = "*"

[packages]
command = {path = ".",editable = true}
pylint = "*"
